/* src/App.css */
.dndflow {
  display: flex;
  height: 94vh;
}

.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

aside {
  height: 600px;
  margin: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid #E4E8EE;
  background-color: #ffffffdd;
  top: 90px;
  border-radius: 20px;
  box-shadow: 0px -1px 100px 0px #00000012;

}

.description {
  margin: 15px;
  font-size: 14px;
}

.dndnode {
  padding: 10px;
  display: flex;
  gap:10px;
  
  background-color: white;
  margin-bottom: 10px;
  cursor: grab;
  border: 0.8px solid #94A3B8;
  box-shadow: 0px -1px 100px 0px #00000012;


}

.custom-node {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
  text-align: left;
  border: 1px solid #66666659;
  gap: 5px;
}

.custom-node strong {
  display: block;
  margin-bottom: 10px;

}

.custom-node label {
  font-size: 1rem;
  display: block;
  margin: 5px 0;
}


.sidemenubar{
  height: 10px;
  display: flex;
  align-self: center;
  
  
  
  

 
}



/* input box header */

.input-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  height: auto;
  
}


.custom-node-input{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
  text-align: left;
  margin: 0%;
  gap: 7px;
  height: 160px;

}

.react-flow__node {
  padding: 0 !important; /* Override any default padding */
  margin: 0 !important;  /* Remove margin */
  box-sizing: border-box; /* Ensure sizing includes padding/borders */
  border: 0px !important;
  
}


.floatbox-popup{
  margin-bottom: 10px;
  background: #EEF4FF;

}

.custom-node-input input{
  margin: 10px 0px;
  
}


.custom-node button{
  height: 20px;
  width:80px;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;
  left: 95px;
}


.custom-node-input strong{
  display: block;
  /* margin-bottom: 10px; */
  
}